{:paths ["src" "test"]
 :deps  {org.clojure/clojure      {:mvn/version "1.11.1"}
         org.clojure/core.async   {:mvn/version "1.6.681"}
         hashp/hashp              {:mvn/version "0.2.2"}
         com.xtdb/xtdb-core       {:mvn/version "1.24.0"}
         com.xtdb/xtdb-rocksdb    {:mvn/version "1.24.0"}
         com.xtdb/xtdb-lucene     {:mvn/version "1.24.0"}
         com.nextjournal/beholder {:mvn/version "1.0.2"}
         babashka/fs              {:mvn/version "0.4.19"}
         babashka/process         {:mvn/version "0.5.21"}
         org.babashka/http-client {:mvn/version "0.4.15"}
         org.babashka/cli         {:mvn/version "0.4.39"}
         com.taoensso/timbre      {:mvn/version "6.3.1"}
         tick/tick                {:mvn/version "0.7.5"}
         tortue/spy               {:mvn/version "2.14.0"}
         cronstar/cronstar        {:mvn/version "1.0.2"}
         jarohen/chime            {:mvn/version "0.3.3"}}

 :aliases 
 {:neil {:project {:name fdb/fdb}}
  ;; clj -M:cli --help
  ;; or install as fdb with `bbin install ./`
  :cli  {:main-opts ["-m" "fdb.cli"]}}}
