{:paths ["src" "test" "resources"]
 :deps  {;; keep in sync with the clojure version in fdb.bb.cli
         org.clojure/clojure         {:mvn/version "1.12.0-beta1"}
         org.clojure/core.async      {:mvn/version "1.6.681"}
         hashp/hashp                 {:mvn/version "0.2.2"}
         com.xtdb/xtdb-core          {:mvn/version "1.24.4"}
         com.xtdb/xtdb-rocksdb       {:mvn/version "1.24.4"}
         com.xtdb/xtdb-lucene        {:mvn/version "1.24.4"}
         com.nextjournal/beholder    {;; https://github.com/nextjournal/beholder/pull/8
                                      :git/url "https://github.com/filipesilva/beholder.git"
                                      :git/sha "b0ca87540a28aac823791782d9f12d098ca71ed3"}
         babashka/fs                 {:mvn/version "0.4.19"}
         babashka/process            {:mvn/version "0.5.21"}
         org.babashka/cli            {:mvn/version "0.8.54"}
         com.taoensso/timbre         {:mvn/version "6.3.1"}
         tick/tick                   {:mvn/version "0.7.5"}
         tortue/spy                  {:mvn/version "2.14.0"}
         cronstar/cronstar           {:mvn/version "1.0.2"}
         jarohen/chime               {:mvn/version "0.3.3"}
         nrepl/nrepl                 {:mvn/version "1.1.0"}
         cider/cider-nrepl           {:mvn/version "0.45.0"}
         babashka/nrepl-client       {:git/url "https://github.com/babashka/nrepl-client"
                                      :git/sha "f560a68bbad7b625b07b4025b240c2d0b5b610ad"}
         mvxcvi/puget                {:mvn/version "1.3.4"}
         ;; for xtdb, I guess, I don't care, I just want the startup error to go away
         org.slf4j/slf4j-nop         {:mvn/version "2.0.9"}
         io.github.tonsky/clj-reload {:mvn/version "0.4.3"}
         http-kit/http-kit           {:mvn/version "2.8.0"}
         io.github.tonsky/clj-simple-router {:mvn/version "0.1.0"}
         metosin/muuntaja            {:mvn/version "0.6.10"}
         io.github.escherize/huff    {:mvn/version "0.2.12"}
         org.clojure/data.json       {:mvn/version "2.5.0"}
         enlive/enlive               {:mvn/version "1.1.6"}
         ;; built-in reader deps
         clj-commons/clj-yaml        {:mvn/version "1.0.27"}
         io.forward/clojure-mail     {:mvn/version "1.0.8"}
         com.sun.mail/gimap          {:mvn/version "1.6.7"}
         ;; Don't really use medley directly, but clojure-mail does, and it always shows
         ;; a warning about abs being overwritten because it's on an old medley version
         dev.weavejester/medley      {:mvn/version "1.7.0"}}

 :aliases
 {:neil {:project {:name fdb/fdb}}}}
