{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         com.xtdb/xtdb-core {:mvn/version "1.24.0"}
         com.xtdb/xtdb-rocksdb {:mvn/version "1.24.0"}
         com.xtdb/xtdb-lucene {:mvn/version "1.24.0"}
         clj-commons/fs {:mvn/version "1.6.310"}
         com.nextjournal/beholder {:mvn/version "1.0.2"}
         babashka/fs {:mvn/version "0.4.19"}
         babashka/http-client {:git/url "https://github.com/babashka/http-client"
                               :git/sha "0afe123d7166825f4cba11ab3e3e4930a45749b6"}
         babashka/process {:mvn/version "0.5.21"}
         babashka/cli {:git/url "https://github.com/babashka/cli"
                       :git/sha "d47ca14f1b0f4e85cb6dfc56c358c5642d335ee2"}
         tick/tick {:mvn/version "0.6.2"}
         steenhansen/clojure-text-diff {:git/url "https://github.com/steenhansen/clojure-text-diff"
                                        :git/sha "4a94c446433475a208aed850bcf55e4ff73f3caf"
                                        :deps/manifest :deps}}
 :aliases 
 {:neil {:project {:name fdb/fdb}}}}
