;; When you save this file it will be be used as a query, and the result will
;; be printed to query-output.fdb.edn
;; See https://v1-docs.xtdb.com/language-reference/datalog-queries/ for query syntax

;; All files marked as important.
[:find ?e
 :where [?e :fdb/tags "important"]]

;; Some other common queries.
;; #_ means they are commented out, so uncomment the one you want to use and leave
;; all others commented.

;; Pull all data for files in this directory
#_{:find  [(pull e [*])]
   :where [[e :fdb/parent "/demo/reference"]]}
